/* Auth.css */

/* Container principal */
.auth-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  gap: 50px;
  padding: 20px;
}

/* Formulário */
.auth-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.auth-input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.auth-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.auth-button:hover {
  background-color: #0056b3;
}

.auth-message {
  margin-top: 15px;
  color: green;
}

.auth-link {
  margin-top: 10px;
}

.auth-link a {
  color: #007bff;
  text-decoration: none;
}

.auth-link a:hover {
  text-decoration: underline;
}

/* Estilo para a área de verificação de cupom */
.coupon-check-container {
  margin-top: 30px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.coupon-form {
  display: flex;
  flex-direction: column;
}

.coupon-form .auth-input {
  margin-bottom: 10px;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .auth-container {
    flex-direction: column; /* Alinhar os elementos em coluna */
    gap: 20px;
    padding: 10px;
  }

  .auth-form, .coupon-check-container {
    width: 100%; /* Ocupar toda a largura disponível em telas pequenas */
    max-width: 350px; /* Define uma largura máxima para telas maiores */
  }

  .auth-input, .auth-button {
    font-size: 14px; /* Reduz o tamanho da fonte */
    padding: 8px;
  }

  .auth-link {
    font-size: 14px; /* Reduz o tamanho da fonte do link */
  }
}

@media (max-width: 480px) {
  .auth-form, .coupon-check-container {
    width: 100%; /* Ocupar toda a largura disponível em telas bem pequenas */
    padding: 15px; /* Reduzir o padding */
  }

  .auth-input, .auth-button {
    font-size: 12px; /* Reduzir ainda mais o tamanho da fonte para telas muito pequenas */
    padding: 6px;
  }

  .auth-link {
    font-size: 12px; /* Reduz o tamanho da fonte do link */
  }

  .auth-container {
    gap: 10px; /* Reduz o espaçamento entre os elementos */
  }
}
